TELEGRAM_BOT_TOKEN=
LLM_API_KEY=

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=vulnscout
POSTGRES_USER=vulnscout
POSTGRES_PASSWORD=

FRESHRSS_URL=http://freshrss/api/greader.php
FRESHRSS_USERNAME=
FRESHRSS_API_PASSWORD=

AI_BASE_URL=https://api.groq.com/openai/v1
AI_API_KEY=
AI_MODEL=openai/gpt-oss-120b